.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  color: #ffffff;
  background: #ffffff;
  height: 64px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub, .ant-layout-sider {
  background: #00317c !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #00317c !important;
}

.profile-card {
  border-bottom: solid green !important;
  border-bottom-width: 2px !important;
}
