.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  color: #ffffff;
  background: #ffffff;
  height: 64px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub, .ant-layout-sider {
  background: #00317c !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #00317c !important;
}

.profile-card {
  border-bottom: solid #00317c !important;
  border-bottom-width: 2px !important;
}

.ck-editor__editable {
  min-height: 500px !important;
}

.demo-infinite-container {
  height: 300px;
  padding: 8px 24px;
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.replyHeader > .ant-collapse-header {
  padding: 0 !important;
  margin-top: 0 !important;
  color: #818181 !important;
}

.overviewCard1 {
  border-radius: 10px !important;
}

.overviewCard1 .ant-card-body .ant-typography {
  font-size: 13px !important;
  line-height: 1.2;
  margin-bottom: 0;
  font-weight: bold;
}

.dashIconTitle {
  font-size: 30px !important;
  padding: 0 !important;
  margin-bottom: 0 !important;
  font-weight: lighter !important;
}

.dashIconText {
  text-transform: uppercase !important;
  font-size: 12px !important;
}

.dashIcon {
  font-size: 30px !important;
  color: #00317c !important;
}
